@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This appliction provides manipulating bank accounts data. You can create new bank account, view details info, recharge or withdrawal balance.</p>
